/* Utility classes */
.ib {
    display : inline-block;
}
/* Grid with unit stuff */
#unit-display {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px 5px;
    grid-auto-columns : 1fr;
    grid-auto-rows : auto;
    justify-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    align-items: center;

}
.grid-weapons {
}
.grid-scores {
}
.grid-units {
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-units.even {
    background: #f5f5f5;
}

.grid-units.odd {
    background: #ededed;
}


.grid-units i {
    flex: 0 0 auto;
    margin: -20px;
    transform : scale(0.55);
}

/* Selectors stuff */
.filters {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 2px 0;
    box-shadow: 1px 1px black;
}
.checkbox-row  {
    display : flex;
    margin-bottom: 10px;
}
.checkbox-row label, .checkbox-row button{
    flex: 1 0 auto;
    text-align: center;
}
.checkbox-row i {
    vertical-align: middle;
}
.checkbox-row span {
    vertical-align: middle;
}
#column-filters i {
    transform : scale(0.7);
}
.checkbox-row input {
    vertical-align: middle;
}
.checkbox-row .icon-blueBow, .checkbox-row .icon-greenBow, .checkbox-row .icon-redBow,
.checkbox-row .icon-axe, .checkbox-row .icon-sword, .checkbox-row .icon-lance {
    margin-bottom : -15px;
    margin-top: -15px;
}
#unit-filters, #score-filters {
    display :flex
}
#unit-filters > div:first-child, #score-filters > div:first-child{
    flex: 0 0 150px;
}
#unit-filters > div, #score-filters > div{
    flex: 1 0 auto;
}
#column-filters {
    display : grid;
    grid-template-columns : 150px auto;
    grid-template-rows: auto auto;
    grid-gap: 1px 1px;
}

#column-filters .column-title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
}
#column-filters .checkbox-row:nth-of-type(2n) {
    grid-area: 2 / 3
    grid-row: 1 / 2;
}
#column-filters .checkbox-row:nth-of-type(2n+1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}