#unitDisplay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    grid-auto-columns : 1fr;
    grid-auto-rows : auto;
}

.ib {
    display : inline-block;
}

#columnCheckboxes {
    display : flex;
}
#columnCheckboxes label{
    flex: 1 0 auto;
    text-align: center;
}