
.legendary-hero-icon {
  background-image: url('../images/legendary-sprite.png');
}

.icon-L-Ephraim {
  background-position: -0px -0px;
  width: 83px;
  height: 83px;
}
.icon-Duma {
  background-position: -0px -83px;
  width: 83px;
  height: 83px;
}
.icon-F-Grima {
  background-position: -0px -166px;
  width: 83px;
  height: 83px;
}
.icon-Fjorm {
  background-position: -0px -249px;
  width: 83px;
  height: 83px;
}
.icon-Gunnthra {
  background-position: -0px -332px;
  width: 83px;
  height: 83px;
}
.icon-Hrid {
  background-position: -0px -415px;
  width: 83px;
  height: 83px;
}
.icon-L-Azura {
  background-position: -0px -498px;
  width: 83px;
  height: 83px;
}
.icon-L-Eirika {
  background-position: -0px -581px;
  width: 83px;
  height: 83px;
}
.icon-Eir {
  background-position: -0px -664px;
  width: 83px;
  height: 83px;
}
.icon-L-Hector {
  background-position: -0px -747px;
  width: 83px;
  height: 83px;
}
.icon-L-Ike {
  background-position: -0px -830px;
  width: 83px;
  height: 83px;
}
.icon-L-Lucina {
  background-position: -0px -913px;
  width: 83px;
  height: 83px;
}
.icon-L-Lyn {
  background-position: -0px -996px;
  width: 83px;
  height: 83px;
}
.icon-L-Marth {
  background-position: -0px -1079px;
  width: 83px;
  height: 83px;
}
.icon-L-Ryoma {
  background-position: -0px -1162px;
  width: 83px;
  height: 83px;
}
.icon-LY-Tiki {
  background-position: -0px -1245px;
  width: 83px;
  height: 83px;
}
