
.hero-icon {
  background-image: url('../images/standard-sprite.png');
}

.icon-Lucius {
  background-position: -0px -0px;
  width: 83px;
  height: 83px;
}
.icon-Abel {
  background-position: -0px -83px;
  width: 83px;
  height: 83px;
}
.icon-Arthur {
  background-position: -0px -166px;
  width: 83px;
  height: 83px;
}
.icon-Athena {
  background-position: -0px -249px;
  width: 83px;
  height: 83px;
}
.icon-A-Tiki {
  background-position: -0px -332px;
  width: 83px;
  height: 83px;
}
.icon-Azama {
  background-position: -0px -415px;
  width: 83px;
  height: 83px;
}
.icon-Barst {
  background-position: -0px -498px;
  width: 83px;
  height: 83px;
}
.icon-Bartre {
  background-position: -0px -581px;
  width: 83px;
  height: 83px;
}
.icon-Beruka {
  background-position: -0px -664px;
  width: 83px;
  height: 83px;
}
.icon-Boey {
  background-position: -0px -747px;
  width: 83px;
  height: 83px;
}
.icon-Caeda {
  background-position: -0px -830px;
  width: 83px;
  height: 83px;
}
.icon-Cain {
  background-position: -0px -913px;
  width: 83px;
  height: 83px;
}
.icon-Camilla {
  background-position: -0px -996px;
  width: 83px;
  height: 83px;
}
.icon-Catria {
  background-position: -0px -1079px;
  width: 83px;
  height: 83px;
}
.icon-Cecilia {
  background-position: -0px -1162px;
  width: 83px;
  height: 83px;
}
.icon-Cherche {
  background-position: -0px -1245px;
  width: 83px;
  height: 83px;
}
.icon-Chrom {
  background-position: -0px -1328px;
  width: 83px;
  height: 83px;
}
.icon-Clair {
  background-position: -0px -1411px;
  width: 83px;
  height: 83px;
}
.icon-Clarine {
  background-position: -0px -1494px;
  width: 83px;
  height: 83px;
}
.icon-Cordelia {
  background-position: -0px -1577px;
  width: 83px;
  height: 83px;
}
.icon-Donnel {
  background-position: -0px -1660px;
  width: 83px;
  height: 83px;
}
.icon-Draug {
  background-position: -0px -1743px;
  width: 83px;
  height: 83px;
}
.icon-Effie {
  background-position: -0px -1826px;
  width: 83px;
  height: 83px;
}
.icon-Eirika {
  background-position: -0px -1909px;
  width: 83px;
  height: 83px;
}
.icon-Eliwood {
  background-position: -0px -1992px;
  width: 83px;
  height: 83px;
}
.icon-Est {
  background-position: -0px -2075px;
  width: 83px;
  height: 83px;
}
.icon-Fae {
  background-position: -0px -2158px;
  width: 83px;
  height: 83px;
}
.icon-F-Corrin {
  background-position: -0px -2241px;
  width: 83px;
  height: 83px;
}
.icon-Felicia {
  background-position: -0px -2324px;
  width: 83px;
  height: 83px;
}
.icon-Fir {
  background-position: -0px -2407px;
  width: 83px;
  height: 83px;
}
.icon-Florina {
  background-position: -0px -2490px;
  width: 83px;
  height: 83px;
}
.icon-Frederick {
  background-position: -0px -2573px;
  width: 83px;
  height: 83px;
}
.icon-Gaius {
  background-position: -0px -2656px;
  width: 83px;
  height: 83px;
}
.icon-Gordin {
  background-position: -0px -2739px;
  width: 83px;
  height: 83px;
}
.icon-Gunter {
  background-position: -0px -2822px;
  width: 83px;
  height: 83px;
}
.icon-Gwendolyn {
  background-position: -0px -2905px;
  width: 83px;
  height: 83px;
}
.icon-Hana {
  background-position: -0px -2988px;
  width: 83px;
  height: 83px;
}
.icon-Hawkeye {
  background-position: -0px -3071px;
  width: 83px;
  height: 83px;
}
.icon-Henry {
  background-position: -0px -3154px;
  width: 83px;
  height: 83px;
}
.icon-Hinata {
  background-position: -0px -3237px;
  width: 83px;
  height: 83px;
}
.icon-Jagen {
  background-position: -0px -3320px;
  width: 83px;
  height: 83px;
}
.icon-Jakob {
  background-position: -0px -3403px;
  width: 83px;
  height: 83px;
}
.icon-Jeorge {
  background-position: -0px -3486px;
  width: 83px;
  height: 83px;
}
.icon-Kagero {
  background-position: -0px -3569px;
  width: 83px;
  height: 83px;
}
.icon-Kaze {
  background-position: -0px -3652px;
  width: 83px;
  height: 83px;
}
.icon-Klein {
  background-position: -0px -3735px;
  width: 83px;
  height: 83px;
}
.icon-Lachesis {
  background-position: -0px -3818px;
  width: 83px;
  height: 83px;
}
.icon-L-Arachel {
  background-position: -0px -3901px;
  width: 83px;
  height: 83px;
}
.icon-Laslow {
  background-position: -0px -3984px;
  width: 83px;
  height: 83px;
}
.icon-Legault {
  background-position: -0px -4067px;
  width: 83px;
  height: 83px;
}
.icon-Leon {
  background-position: -0px -4150px;
  width: 83px;
  height: 83px;
}
.icon-Libra {
  background-position: -0px -4233px;
  width: 83px;
  height: 83px;
}
.icon-Lilina {
  background-position: -0px -4316px;
  width: 83px;
  height: 83px;
}
.icon-Lissa {
  background-position: -0px -4399px;
  width: 83px;
  height: 83px;
}
.icon-Lon-qu {
  background-position: -0px -4482px;
  width: 83px;
  height: 83px;
}
.icon-Ares {
  background-position: -0px -4565px;
  width: 83px;
  height: 83px;
}
.icon-Lukas {
  background-position: -0px -4648px;
  width: 83px;
  height: 83px;
}
.icon-Mae {
  background-position: -0px -4731px;
  width: 83px;
  height: 83px;
}
.icon-Maria {
  background-position: -0px -4814px;
  width: 83px;
  height: 83px;
}
.icon-Marth {
  background-position: -0px -4897px;
  width: 83px;
  height: 83px;
}
.icon-Mathilda {
  background-position: -0px -4980px;
  width: 83px;
  height: 83px;
}
.icon-Matthew {
  background-position: -0px -5063px;
  width: 83px;
  height: 83px;
}
.icon-M-Corrin {
  background-position: -0px -5146px;
  width: 83px;
  height: 83px;
}
.icon-Merric {
  background-position: -0px -5229px;
  width: 83px;
  height: 83px;
}
.icon-M-Morgan {
  background-position: -0px -5312px;
  width: 83px;
  height: 83px;
}
.icon-M-Robin {
  background-position: -0px -5395px;
  width: 83px;
  height: 83px;
}
.icon-Nanna {
  background-position: -0px -5478px;
  width: 83px;
  height: 83px;
}
.icon-Niles {
  background-position: -0px -5561px;
  width: 83px;
  height: 83px;
}
.icon-Nino {
  background-position: -0px -5644px;
  width: 83px;
  height: 83px;
}
.icon-Nowi {
  background-position: -0px -5727px;
  width: 83px;
  height: 83px;
}
.icon-Oboro {
  background-position: -0px -5810px;
  width: 83px;
  height: 83px;
}
.icon-Odin {
  background-position: -0px -5893px;
  width: 83px;
  height: 83px;
}
.icon-Ogma {
  background-position: -0px -5976px;
  width: 83px;
  height: 83px;
}
.icon-Olivia {
  background-position: -0px -6059px;
  width: 83px;
  height: 83px;
}
.icon-Oscar {
  background-position: -0px -6142px;
  width: 83px;
  height: 83px;
}
.icon-Palla {
  background-position: -0px -6225px;
  width: 83px;
  height: 83px;
}
.icon-Peri {
  background-position: -0px -6308px;
  width: 83px;
  height: 83px;
}
.icon-Priscilla {
  background-position: -0px -6391px;
  width: 83px;
  height: 83px;
}
.icon-Raigh {
  background-position: -0px -6474px;
  width: 83px;
  height: 83px;
}
.icon-Raven {
  background-position: -0px -6557px;
  width: 83px;
  height: 83px;
}
.icon-Rebecca {
  background-position: -0px -6640px;
  width: 83px;
  height: 83px;
}
.icon-Reinhardt {
  background-position: -0px -6723px;
  width: 83px;
  height: 83px;
}
.icon-Reyson {
  background-position: -0px -6806px;
  width: 83px;
  height: 83px;
}
.icon-Roderick {
  background-position: -0px -6889px;
  width: 83px;
  height: 83px;
}
.icon-Roy {
  background-position: -0px -6972px;
  width: 83px;
  height: 83px;
}
.icon-Saizo {
  background-position: -0px -7055px;
  width: 83px;
  height: 83px;
}
.icon-Sakura {
  background-position: -0px -7138px;
  width: 83px;
  height: 83px;
}
.icon-Selena {
  background-position: -0px -7221px;
  width: 83px;
  height: 83px;
}
.icon-Seliph {
  background-position: -0px -7304px;
  width: 83px;
  height: 83px;
}
.icon-Serra {
  background-position: -0px -7387px;
  width: 83px;
  height: 83px;
}
.icon-Seth {
  background-position: -0px -7470px;
  width: 83px;
  height: 83px;
}
.icon-Setsuna {
  background-position: -0px -7553px;
  width: 83px;
  height: 83px;
}
.icon-Shanna {
  background-position: -0px -7636px;
  width: 83px;
  height: 83px;
}
.icon-Sheena {
  background-position: -0px -7719px;
  width: 83px;
  height: 83px;
}
.icon-Shigure {
  background-position: -0px -7802px;
  width: 83px;
  height: 83px;
}
.icon-Silas {
  background-position: -0px -7885px;
  width: 83px;
  height: 83px;
}
.icon-Silvia {
  background-position: -0px -7968px;
  width: 83px;
  height: 83px;
}
.icon-Soleil {
  background-position: -0px -8051px;
  width: 83px;
  height: 83px;
}
.icon-Sophia {
  background-position: -0px -8134px;
  width: 83px;
  height: 83px;
}
.icon-Soren {
  background-position: -0px -8217px;
  width: 83px;
  height: 83px;
}
.icon-Sothe {
  background-position: -0px -8300px;
  width: 83px;
  height: 83px;
}
.icon-Stahl {
  background-position: -0px -8383px;
  width: 83px;
  height: 83px;
}
.icon-Subaki {
  background-position: -0px -8466px;
  width: 83px;
  height: 83px;
}
.icon-Sully {
  background-position: -0px -8549px;
  width: 83px;
  height: 83px;
}
.icon-Tailtiu {
  background-position: -0px -8632px;
  width: 83px;
  height: 83px;
}
.icon-Tharja {
  background-position: -0px -8715px;
  width: 83px;
  height: 83px;
}
.icon-Thea {
  background-position: -0px -8798px;
  width: 83px;
  height: 83px;
}
.icon-Titania {
  background-position: -0px -8881px;
  width: 83px;
  height: 83px;
}
.icon-Virion {
  background-position: -0px -8964px;
  width: 83px;
  height: 83px;
}
.icon-Wrys {
  background-position: -0px -9047px;
  width: 83px;
  height: 83px;
}
